<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="css/prof_list.css">
    <title>College of Science Professors</title>
</head>

<body>
    <!------------------NAVBAR--------------------->
    <div class="navbar">
        <a class="logo" href="home.html"> <img src="images/logo.png" alt="Logo"></a>
        <a class="name" href="home.html">PROFADVISOR</a>
        <div class="searchbar">
            <input type="text" placeholder="Search">

            <div class="dropdown" id="div-filter">
                <select class="form-control" id="select-filter" name="filter" onchange="filterSelectAction()">
                    <option value="All Departments" selected="">All Departments</option>
                    <option value="Biology" selected="">Biology</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Mathematics and Statistics">Mathematics and Statistics</option>
                    <option value="Physics">Physics</option>
                </select>
            </div>
        </div>
        <button id="search">Search</button>
        <a class="navbutton" href="settings.html">SETTINGS</a>
        <a class="navbutton" href="home.html">SEARCH</a>
    </div>

    <div class="container">
        <div class="profcontainer">
            <img src="images/icon.png">
            <div class="prof-name" id="profBS11" onclick="toProfPage4()">
                <p>Jennifer Huh</p>
            </div>
        </div>
    </div>

    <script src="javascript/prof_list.js"></script>
</body>

</html>