<div id="navbar">
    <img id="logo" src="images/logo.png">
    <p>PROFADVISOR</p>
    <input type="text" placeholder="Search">
    <button id="search" >Search</button>
    <a class="navbutton" href="/settings">SETTINGS</a>
    <a class="navbutton" href="/login">LOG IN</a>
</div>