<div class="navbar">
    <a class="logo" href="#home"> <img src="/images/logo.png" alt="Logo"></a>
    <a class="name" href="#home">PROFADVISOR</a>
    <a class="navbutton" href="#settings">SETTINGS</a>
    <a class="navbutton" href="#search">SEARCH</a>
</div>