<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all" href="/css/prof_list.css">      

    <title>Computer Technology Profs</title>

</head>

<body>
    <!------------------NAVBAR--------------------->
    <div class="navbar">
        <a class="logo" href="/"> <img src="/images/logo.png" alt="Logo"></a>
        <a class="name" href="/">PROFADVISOR</a>
        <a class="navbutton" href="/settings">SETTINGS</a>

        </div>
    </div>

    <div class="search-container">
        <form action="/profResults/:prof.department" method="get">
          <input type="text" placeholder="Search from this department" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    <div class="container">
        <% prof_profile.forEach(function(prof){ %>  
        <a href="/profPage/<%= prof.id %>"  class="profCT-container">
            <img src="/images/icon.png">
            <div class="prof-name" id="profBS11">
                <p><%= prof.name %></p>
            </div>
        </a>
        <% }); %>
    </div>

</body>

</html>    
