<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css">
    <title>Main Menu</title>
</head>

<body>
    <!------------------NAVBAR--------------------->
    <div id="navbar">
        <img id="logo" src="images/logo.png">
        <p>PROFADVISOR</p>
        <input type="text" placeholder="Search">
        <button id="search" >Search</button>
        <a class="navbutton" href="settings.html">SETTINGS</a>
        <a class="navbutton" href="login.html">LOG IN</a>
    </div>
<!------------------content container--------------------->
    <div id="menucontainer">
        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCCSProfs()">

            <div class="post-head">
                <p>College Of Computer Studies</p>
            </div>
        </div>
        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCLAProfs()">

            <div class="post-head">
                <p>College Of Liberal Arts</p>
            </div>
        </div>
        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCOEProfs()">

            <div class="post-head">
                <p>College of Engineering</p>
            </div>
            
        </div>

        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCOBProfs()">

            <div class="post-head">
                <p>College Of Business</p>
            </div>   
        </div>

        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCEDProfs()">

            <div class="post-head">
                <p>College Of Education</p>
            </div>
 

    </div>

        <!------------------post container--------------------->
        <div class="postcontain" onclick="toCOSProfs()">
        
            <div class="post-head">
                <p>College Of Science</p>
            </div>
        
        
        </div>

        <!------------------post container--------------------->
        <div class="postcontain" onclick="toSOEProfs()">
        
            <div class="post-head">
                <p>School of Economics</p>
            </div>

        
        </div>
    <script src="javascript/home.js"></script>    
</body>

</html>
